/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --view-width: 90vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* dark mode setup */
  --backgroundColor: var(--grey-50);
  --textColor:var(--grey-900);
  --dark-mode-bg-color:#333;
  --dark-mode-text-color:#f0f0f0;
  --darkModeTransition: color 0.3s ease-in-out,
background-color 0.3s ease-in-out;
}

.dark-theme{
background-color: var(--dark-mode-bg-color);
color: var(--dark-mode-text-color) !important;
}


body {
    background: var(--backgroundColor);
    color:var(--textColor);
    transition: var(--darkModeTransition);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1;
  }
  p {
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
  }
  
  h1 {
    font-size: clamp(2rem, 5vw, 5rem); /* Large heading */
  }
  
  h2 {
    font-size: clamp(1.5rem, 3vw, 3rem); /* Medium heading */
  }
  
  h3 {
    font-size: clamp(1.25rem, 2.5vw, 2.5rem); /* Small heading */
  }
  
  h4 {
    font-size: clamp(1rem, 2vw, 2rem); /* Extra small heading */
  }
  
  h5 {
    font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
  }
  
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-img {
    /* background-image: url("../src/images/body.jpg"); */
    background-size: cover;
    background-position: center center;
    height: 100vh; /* Set the height to fill the viewport */
  }
  

.nav-bar{
    background-color: rgba(0, 0, 0, 0.475);
    display: flex;
    text-align: center;
    color: white;
    height: 50px;
}

.home, .about, .services, .contact{
    flex:1;
    padding-top: 12px;
    cursor: pointer;
}

.home:hover, .about:hover, .services:hover, .contact:hover{
    color: blueviolet;
    font-size: larger;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transform:scale(1);
    
}

.text-1{
    font-size: 50px;
    color: blueviolet;
    font-weight: bold;
    margin-left: 140px;
    margin-top: 15px;
}
.search-bar{
    /* font-size: 50px;
    color: blueviolet;
    font-weight: bold; */
    margin-left: 140px;
    margin-top: 15px;  
}

.search-form {
  width: var(--view-width);
  max-width: var(--fixed-width);
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
}

.search-input {
  border-color: var(--grey-300);
  transition: var(--darkModeTransition);
  color: var(--textColor);
  border-radius: 0;

  /* border-right: none; */
}

.search-form .btn {
  border-radius: 0;
}
.search-form .btn:hover {
  background: var(--primary-300);
  color: var(--black);
}